<li class="list-group-item" id="attr_{{ attribute.pk }}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <h6>{{ attribute.parent }}:{{ attribute.name }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    elements: {{ attribute.values|length }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#values_{{ attribute.pk }}">
                        Show values
            </button>
            {% include "pcv/attribute_values.html" with attribute=attribute %}
        </div>
    </div>
</li>