<div class="list-group-item" id="attr_{{ attribute.pk }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <span style="color: blue">{{ attribute.parent }}:{{ attribute.name }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        elements: {{ attribute.values|length }}
                    </div>
                </div>
            </div>
        </div>
 </div>