
<!---
<div class="list-group-item general-margin" id="dim_{{ dim.pk }}">
    <div class="row">
        <div class="col">
            <h4>Name: {{ dim.name }}</h4>
        </div>

        <div class="col">
            <h6 class="font-italic"># elements: <span id="num_elements_{{ dim.pk }}">{{ dim.num_elements}}</span></h6>
        </div>

        <div class="col">
            <div class="text-right">
                <a class="btn btn-success btn-rounded-circle" href="slice/{{ dim.pk }}">Slice</a>
            </div>
        </div>

        <div class="col">
            <div class="text-left">
                <a class="btn btn-success btn-rounded-circle" href="dice/{{ dim.pk }}">Dice</a>
            </div>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col">
            <h6>Attributes:</h6>
        </div>
        <div class="col-10"></div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="list-group" id="attributes_{{ dim.pk }}">
                {% for attribute in dim.attributes.all %}
                {% include "pcv/attribute.html" with dim=dim attribute=attribute %}
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
!-->

<div class="card border-primary mb-3" id="dim_{{ dim.pk }}">
<div class="card-body">
    <div class="row">
    <div class="col">
    <h4 class="card-title">Name: {{dim.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"># elements: <span id="num_elements_{{ dim.pk }}">{{ dim.num_elements}}</span></h6>
    <p class="card-text">Attributes</p>
    </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {% for attribute in dim.attributes.all %}
    {% include "pcv/attribute.html" with dim=dim attribute=attribute %}
    {% endfor %}
  </ul> 
<div class="card-body">
<a href="/log/{{log.pk}}/cube/{{cube.pk}}/slice/{{dim.pk}}/" class="btn btn-primary btn-lg btn-block">Slice</a>
<a href="/log/{{log.pk}}/cube/{{cube.pk}}/dice/{{dim.pk}}/" class="btn btn-primary btn-lg btn-block">Dice</a>

  </div>
  
</div>
<br>