{% extends 'base.html' %} {% load humanize %} {% block content %}
<div class="container">
  <h1 class="display-4">Process Cube View</h1>
  <p class="lead">
  <div class="btn-toolbar" role="toolbar" aria-label"Toolbar with buttons">
    <div class="btn-group mr-2" role="group">
    <a class="btn btn-secondary w-100" href="cells-table">Show cells table</a>
    </div>
    <div class="btn-group mr-2" role="group">
    <a class="btn btn-secondary w-100" href="dimensions">Edit Dimension Page</a>
    </div>
    <div class="btn-group" role="group">
    <a class="btn btn-secondary w-100" href="#">Cells: {{ cells|intcomma }}</a>
    </div>
  </div>  
  </p>



  {% for dim in dimensions %}
  {% include "pcv/dimension.html" with dim=dim attributes=attributes free_attributes=free_attributes slices=slices %}
  {% endfor %}
  
</div>

{% endblock %}
