{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



 <div class="row">
    <div class="col-sm">
      <h1>Dice Dimension: {{ dimension.name }}</h1>
    </div>
    <div class="col-sm" id="existing_dice">
        {% if dice %}
        <h1><span class="badge badge-secondary">Existing Dice will get overriden</span></h1>
        {% endif %}
    </div>
        
    </div>
    <div class="col-1 text-right">
        <button class="btn btn-success btn-lg btn-block" onclick="submit_dice()">Dice</button>
    </div>
  </div>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>

<table id="log_table" class="table display nowrap table-striped" style="width: 100%">
    <thead class="thead-dark">
        <tr>
            <th>
                <button class="btn btn-primary" onclick="selectAll()">Select all</button>
            </th>

            {% for attr in dimension.attributes.all %}
            <th>
                {{ attr.parent }}: {{ attr.name }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot class="thead-dark">
        <tr>
            <th></th>

            {% for attr in dimension.attributes.all %}
            <th>
                {{ attr.parent }}: {{ attr.name }}
            </th>
            {% endfor %}
        </tr>
    </tfoot>
</table>


{% endblock content %}


{% block custom_javascript %}
<script>
    var dice = {{dice | safe }}
    console.log(dice);

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length != b.length) return false;
        for (var i = 0; i < a.length; ++i) {
            if (a[i] !== b[i]) return false;
        }
        return true;
    }

    function selectRows(){
        var table = $('#log_table').DataTable();
        table.rows().every(function(rowIdx, tableLoop, rowLoop){
        var change = false;
        var data = this.data().slice(1, this.data().length);
        dice.forEach(function(item, index){
            if(arraysEqual(item, data)){
                change = true;
            }
        });
        
        if(change){
            this.select();
        }
        else{
            this.deselect();
        }
        });
    }

    function checkForExistingDice(){
        if(dice.length!= 0){
            $('#existing_dice').html("<h1><span class=\"badge badge-secondary\">Editing existing dice</span></h1>");
        }            
    }

    checkForExistingDice();

    $('.collapse').on("show.bs.collapse", function (event) {
        $('#log_table').DataTable().columns.adjust()
        console.log("show")
    });

    $('div').on("show.bs.collapse", function (event) {
        $('#log_table').DataTable().columns.adjust()
        console.log("show")
    });


    $(document).ready(function () {

        var attributes2 = [
            { data: "Select" }, {% for attr in attr_names %} { "data": "{{ attr}}" }, {% endfor %}];

         var dim_values = {{ dim_values| safe }}

    $('#log_table tfoot th').slice(1).each(function () {
        var title = $(this).text().trim();
        $(this).html('<form>' + 
            '<div class="form-group">'+
            '<label for="' + title +'_input">Search ' + title + '</label>' + 
            '<input type="text" id="'+title + '_input"class="form-control" placeholder="type value" />'+
            '</div></form>');
    });

    var table = $('#log_table').DataTable({
        "processing": true,
        "deferRender": true,
        // "ajax": "{% url 'get-events' log.id %}",
        "data": dim_values,
        "scrollX": true,
        "columnDefs": [
            {
                "defaultContent": "",
                "targets": "_all"
            },
            {
                "data": null,
                orderable: false,
                className: 'select-checkbox',
                targets: 0,
                width: 100
            }
        ],
        select: {
            style: 'multi+shift',
        },
        order: [[1, 'asc']],
        // columns: attributes2
    });

    // Apply the search
    table.columns().every(function () {
        var that = this;

        $('input', this.footer()).on('keyup change', function () {
            if (that.search() !== this.value) {
                that
                    .search(this.value)
                    .draw();
            }
        });
    });

    selectRows();
    });

    $('#log_table_row').on("show.bs.collapse", function (e) {
        $('#log_table').DataTable().columns.adjust();
        console.log("asd")
    });

    $('#log_table').on("show.bs.collapse", function (e) {
        $('#log_table').DataTable().columns.adjust();
        console.log("asd")
    });

    function selectAll() {
        var table = $('#log_table').DataTable()

        let filtered_rows = table.rows({ selected: true })
        let all_rows = table.rows()

        if (filtered_rows.count() == all_rows.count()) {
            $('#log_table').DataTable().rows({ filter: 'applied' }).deselect()
        } else {
            $('#log_table').DataTable().rows({ filter: 'applied' }).select()
        }
    }

    function submit_dice() {
        // console.log(selected)
        var table = $('#log_table').DataTable();
        var selected = table.rows({selected : true}).data().toArray();
        console.log("selected",selected);
        var data = [];
        for (var i = 0; i < selected.length; i++) {
            data.push(JSON.stringify(selected[i].slice(1,selected[i].length)));
        }

        $.ajax({
            url: "save_dice", // the endpoint
            type: "POST", // http method
            data: { 'values': data }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                console.log("success dicing"); // another sanity check
                $.notify("Saved name!", { autoHideDelay: 1000, className: "success" })
                window.location.href = "/log/{{log.pk}}/cube/{{cube.pk}}/pcv";
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log("failed");
                $.notify("Failed", { autoHideDelay: 1000, className: "error" })
            }
        })
    }

</script>

{% endblock custom_javascript %}