{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

 <div class="row">
    <div class="col-sm">
      <h1>Slice Dimension: {{ dimension.name }}</h1>
    </div>
    <div class="col-sm" id="existing_slice">
        {% if slice %}
        <h1><span class="badge badge-secondary">Editing existing Slice</span></h1>
        {% endif %}
        {% if dice %}
        <h1><span class="badge badge-warning">Existing Dice will get overridden</span></h1>
        {% endif %}
    </div>
        
    <div class="col-1 text-right">
        <button class="btn btn-success btn-lg btn-block" onclick="submit_slice()">Slice</button>
    </div>
  </div>

<table id="log_table" class="table display nowrap table-striped" style="width: 100%">
    <thead class="thead-dark">
        <tr>
            <th>
            </th>

            {% for attr in dimension.attributes.all %}
            <th>
                {{ attr.parent }}: {{ attr.name }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot class="thead-dark">
        <tr>
            <th></th>

            {% for attr in dimension.attributes.all %}
            <th>
                {{ attr.parent }}: {{ attr.name }}
            </th>
            {% endfor %}
        </tr>
    </tfoot>
</table>

{% endblock content %}


{% block custom_javascript %}
<script>

    var slice = {{ slice | safe}}
    console.log(slice);

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length != b.length) return false;
        for (var i = 0; i < a.length; ++i) {
            if (a[i] !== b[i]) return false;
        }
        return true;
    }

     function selectRows(){
        var table = $('#log_table').DataTable();
        table.rows().every(function(rowIdx, tableLoop, rowLoop){
        var change = false;
        var data = this.data().slice(1, this.data().length);
            if(arraysEqual(slice, data)){
                change = true;
            }
        if(change){
            this.select();
        }
        else{
            this.deselect();
        }
        });
    }

    $(document).ready(function () {

        var attributes2 = [
            { data: "Select" }, {% for attr in attr_names %} { "data": "{{ attr}}" }, {% endfor %}];

    var dim_values = {{ dim_values| safe }}

    $('#log_table tfoot th').slice(1).each(function () {
        var title = $(this).text().trim();
        console.log(title)
        $(this).html('<form>' + 
            '<div class="form-group">'+
            '<label for="' + title +'_input">Search ' + title + '</label>' + 
            '<input type="text" id="'+title + '_input"class="form-control" placeholder="type value" />'+
            '</div></form>');
    });

    var table = $('#log_table').DataTable({
        "processing": true,
        "deferRender": true,
        // "ajax": "{% url 'get-events' log.id %}",
        "data": dim_values,
        "scrollX": true,
        "columnDefs": [
            {
                "defaultContent": "",
                "targets": "_all"
            },
            {
                "data": null,
                orderable: false,
                className: 'select-checkbox',
                targets: 0,
                width: 100
            }
        ],
        select: {
            style: 'single',
        },
        order: [[1, 'asc']],
        // columns: attributes2
    });

    // Apply the search
    table.columns().every(function () {
        var that = this;

        $('input', this.footer()).on('keyup change', function () {
            if (that.search() !== this.value) {
                that
                    .search(this.value)
                    .draw();
            }
        });
    });
    
    selectRows();
    });

    $('#log_table_row').on("show.bs.collapse", function (e) {
        $('#log_table').DataTable().columns.adjust();
        console.log("asd")
    });

    $('#log_table').on("show.bs.collapse", function (e) {
        $('#log_table').DataTable().columns.adjust();
        console.log("asd")
    });


    function submit_slice() {
        var selected = $('#log_table').DataTable().rows({ selected: true }).data()
        // console.log(selected)

        if(selected.length > 0) {
            data = JSON.stringify(selected[0].slice(1))
        } else {
            return false
        }

        console.log(data)

        $.ajax({
            url: "save_slice", // the endpoint
            type: "POST", // http method
            data: { 'values': data }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                console.log("success slicing"); // another sanity check
                $.notify("Saved name!", { autoHideDelay: 1000, className: "success" })
                window.location.href = "/log/{{log.pk}}/cube/{{cube.pk}}/pcv";
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log("failed");
                $.notify("Failed", { autoHideDelay: 1000, className: "error" })
            }
        })
    }

</script>

{% endblock custom_javascript %}