.general-margin {
    margin: 10px;
    margin-left: 0
}

.top-margin {
    margin-top: 5px;
}

.general-padding {
    padding: 10px;
}

.padding-main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

