<div class="list-group-item general-margin" id="attr_{{ attribute.pk }}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <h5>{{ attribute.parent }}:{{ attribute.name }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Elements: {{ attribute.values|length }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-danger" onclick='rem_attribute({{ dim.pk }}, {{ attribute.pk }});'>X</button>
        </div>
    </div>

</div>