<div class="list-group-item general-margin" id="dim_{{ dim.pk }}">
    <div class="row">

        <div class="col-4">
            <form id="dim_name_{{ dim.pk }}" name="save_name_form" action="save_dim_name" method="POST" onsubmit="save_dim_name({{dim.pk}})">
                {% csrf_token %}
                <input type="hidden" value="{{ dim.pk }}" name="dim_id">
                <input id="dim_name_input_{{ dim.pk }}" class="form-control" type="text" placeholder="{{ dim.name }}" name="dim_name_input">
                <button class="btn btn-success">Save name</button>
            </form>
        </div>

        <div class="col-4">
            <h5>Number of elements: <span id="num_elements_{{ dim.pk }}">{{ dim.get_num_elements }}</span></h5>
        </div>
        <div class="col-3"></div>
        <div class="col justify-content-end ">
            <button class="btn btn-danger float-right" onclick="delete_dimension({{ dim.pk }});">X</button>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col">
            <h4>Attributes:</h4>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button"
                    id="dropdownMenuButton_{{ dim.pk }}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Add Attribute
                </button>
                <div class="dropdown-menu" dimension="{{ dim.pk }}" name="attribute_dropdown"
                    aria-labelledby="dropdownMenuButton_{{ dim.pk }}">
                    {% for attribute in free_attributes %}
                    {% include "dimension_editor/dropdown_button.html" with attribute=attribute %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-10"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group" id="attributes_{{ dim.pk }}">
                {% for attribute in dim.attributes.all %}
                {% include "dimension_editor/attribute.html" with dim=dim attribute=attribute %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>