{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% block content %}


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log_table_row" aria-expanded="false"
    aria-controls="log_table_row" id="show_hide_table">
    Show/Hide Log
</button>

<div class="collapse" id="log_table_row">
    <table id="log_table" class="table display nowrap table-striped" style="width: 100%">
        <thead class="thead-dark">
            <tr>
                {% for attr in attributes %}
                <th>
                    {{attr.parent }}: {{ attr.name }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<div class="row general-margin">
    <div class="col-md-4">
        <h1 class="">Process Cube</h1>
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Dimensions:</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4 class="">Number of cells: <span id="num_cells">{{ cells|intcomma }}</span></h4>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success" onclick="add_dimension()">Add Dimension</button>
        </div>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary w-100" href="pcv">Done</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="list-group" id="dimensions_table">
            {% for dim in dimensions %}
            {% include "dimension_editor/dimension.html" with dim=dim attributes=attributes free_attributes=free_attributes %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block custom_javascript %}
<script>

    $('.collapse').on("show.bs.collapse", function (event) {
        $('#log_table').DataTable().columns.adjust()
        console.log("show")
    });

    $('div').on("show.bs.collapse", function (event) {
        $('#log_table').DataTable().columns.adjust()
        console.log("show")
    });

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "{% url 'get-attrs' log.id %}",
            success: function (attributes) {
                var table = $('#log_table').DataTable({
                    "processing": true,
                    "deferRender": true,
                    "ajax": "{% url 'get-events' log.id %}",
                    "scrollX": true,
                    "columnDefs": [
                        {
                            "data": null,
                            "defaultContent": "",
                            "targets": '_all'
                        }
                    ],
                    "columns": attributes,
                });

            }
        });

        $('#log_table_row').on("show.bs.collapse", function (e) {
            $('#log_table').DataTable().columns.adjust();
            console.log("asd")
        });

        $('#log_table').on("show.bs.collapse", function (e) {
            $('#log_table').DataTable().columns.adjust();
            console.log("asd")
        });
    });



    function delete_dimension(dim_id) {
        console.log("delete_dim " + dim_id);

        $.ajax({
            url: "remove_dimension", // the endpoint
            type: "POST", // http method
            data: { 'dim_id': dim_id }, // data sent with the post request

            // handle a successful response
            success: function (data) {
                console.log('success')
                $('#dim_' + dim_id).fadeOut('fast', function () { $(this).remove() })


                $(`#num_cells`).html(data['cells']);
                console.log(data)
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log('error')
            }
        });
    };

    function add_dimension() {
        $.ajax({
            url: "add_dimension", // the endpoint
            type: "POST", // http method

            // handle a successful response
            success: function (data) {
                let dim_item = data
                console.log(data)
                $("#dimensions_table")
                    .append(dim_item).children(':last')
                    .hide()
                    .fadeIn('fast');

            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log('error')
            }
        });
    };

    function add_attribute(button, attr_id) {
        dim_id = $(button).parent().attr("dimension");
        console.log(dim_id)
        $.ajax({
            url: "add_attribute", // the endpoint
            type: "POST", // http method
            data: { 'dim_id': dim_id, 'attr_id': attr_id },

            // handle a successful response
            success: function (data) {
                $("#attributes_" + dim_id)
                    .append(data['html']).children(':last')
                    .hide()
                    .fadeIn('fast');

                $(`button[name="add_attr_${attr_id}"`).remove();

                $(`#num_elements_${dim_id}`).html(data['num_elements']);
                $(`#num_cells`).html(data['cells']);
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log('error')
            }
        });
    };

    function rem_attribute(dim_id, attr_id) {
        console.log(dim_id)
        $.ajax({
            url: "rem_attribute", // the endpoint
            type: "POST", // http method
            data: { 'dim_id': dim_id, 'attr_id': attr_id },

            // handle a successful response
            success: function (data) {
                $('#attr_' + attr_id).fadeOut('fast', function () { $(this).remove() })
                $('div[name="attribute_dropdown"]').append(data['html'])

                $(`#num_elements_${dim_id}`).html(data['num_elements'])
                $(`#num_cells`).html(data['cells']);
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log('error')
            }
        });
    };

    function save_dim_name(dim_id) {
        event.preventDefault();

        var dim_name = $('#dim_name_input_' + dim_id).val()

        if (!dim_name) {
            dim_name = $('#dim_name_input_' + dim_id).attr('placeholder')
        }

        $.ajax({
            url: "save_dim_name", // the endpoint
            type: "POST", // http method
            data: { dim_id: dim_id, dim_name: dim_name }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                console.log("success savng name " + dim_name); // another sanity check
                $.notify("Saved name!", {autoHideDelay: 1000, className: "success"})
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log("failed");
                $.notify("Failed to save name :(", {autoHideDelay: 1000, className: "error"})
            }
        })
    };



    $('.input[name="dim_name_input"').keypress(function (e) {
        if (e.which == 13) {
            $('form#dim_name').submit();
            return false;    //<---- Add this line
        }
    });


</script>
{% endblock custom_javascript %}