{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        <h1 class="">Event-Log:</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="log_table" class="table table-striped">
            <thead>
                <tr>
                    {% for attr in attributes %}
                    <th>
                        {{ attr }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h1 class="">Process Cube</h1>
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Dimensions:</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4 class="">Number of cells:</h4>
            </div>
        </div>
        <div class="row">
            <button onclick="add_dimension()">Add Dimension</button>
        </div>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary w-100" href="pcv">Done</a>
    </div>
</div>


<table class="table table-striped" id="dimensions_table">
    <tbody>
        {% for dim in dimensions %}
        <tr id="dim_{{ dim.pk }}">
            <th>D: {{ dim.pk }}</th>
            <th>
                <input class="form-control" type="text" placeholder="{{ dim.name }}">
            </th>
            <th>
                <button onclick="delete_dimension({{dim.pk}});">X</button>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "{% url 'get-attrs' log.id %}",
            success: function (attributes) {
                $('#log_table').DataTable({
                    "processing": true,
                    "ajax": "{% url 'get-events' log.id %}",
                    "columnDefs": [
                        {
                            "data": null,
                            "defaultContent": "",
                            "targets": '_all'
                        }
                    ],
                    "columns": attributes
                });
            }
        });
    });

    function delete_dimension(dim_id) {
        console.log("delete_dim " + dim_id);

        $.ajax({
            url: "remove_dimension", // the endpoint
            type: "POST", // http method
            data: { dim_id: dim_id }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                console.log('success')
                $('#dim_' + dim_id).fadeOut('fast', function () { $(this).remove() })
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log('error')
            }
        });
    };

    function add_dimension() {
        $.ajax({
            url: "add_dimension", // the endpoint
            type: "POST", // http method

            // handle a successful response
            success: function (data) {
                console.log('success: ' + data)
                let id = data.dim_id
                let name = data.dim_name

                $("#dimensions_table > tbody:last-child")
                    .append(`<tr id='dim_${id}''>
                                <th>D: ${id}</th>
                                <th>
                                    <input class='form-control' type='text' placeholder='${name}'>
                                </th>
                                <th>
                                    <button onclick='delete_dimension(${id});'>X</button>
                                </th>
                            </tr`).children(':last')
                    .hide()
                    .fadeIn('fast');
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                console.log('error')
            }
        });
    }
</script>
{% endblock custom_javascript %}
