{% load static i18n %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Process Cubes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block css %}

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Your stuff: Third-party CSS libraries go here -->

  <!-- This file stores project-specific CSS -->



  {% endblock %}

  {% block head %}{% endblock head %}
</head>

<body>

  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <!-- Uploaded Logs dropdown menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Uploaded Logs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for log in logs %}
                <a class="dropdown-item" href="{% url 'log' log.pk %}">{{ log.name }}</a>
                {% endfor %}
              </div>
            </li>
            <!-- cubes dropdown -->
            {% if cubes %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Process Cubes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for cube in cubes %}
                <a class="dropdown-item" href="{% url 'PCV-edit' log.pk cube.pk %}">{{ cube.name }}</a>
                {% endfor %}
              </div>
            </li>
            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if log %}
            <a class="nav-item nav-link" href="{% url 'log' log.pk %}">Log: {{ log.name }}</a>

            {% if cube %}
            <a class="nav-item nav-link" href="{% url 'PCV-edit' log.pk cube.pk %}">Cube: {{ cube.name }}</a>
            {% endif %}
            {% endif %}
          </div>
        </div>

      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>


  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% block javascript %}

  <!-- Bootstrap JS and its dependencies-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->

  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css" />



  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


  {% load static %}
  <link href="{% static 'process_cubes/css/base.css' %}" rel="stylesheet" type="text/css" />

  <script>
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  </script>
  {% endblock javascript %}

  {% block custom_javascript %}
  {% endblock custom_javascript %}
</body>

</html>