{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Process Cubes</h1>


{% for cube in cubes %}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="{{ log.pk }}/cube/{{ cube.pk }}/dimensions" class="btn btn-primary">
                <h1>{{ cube.name }}</h1>
            </a>
        </div>
        <div class="card-body">
            {% if cube.dimensions_set.all %}
            <h5 class="card-title">Dimensions</h5>
            <div class="accordion" id="accordionExample">
                {% for dim in cube.dimensions_set.all %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                {{ dim.name }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for attr in dim.attributes %}
                                <li class="list-group-item">{{ attr.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <form action="{{log.pk}}/create_cube" method="POST">
                    {% csrf_token %}

                    {{ cube_form|crispy }}
                    <!-- <div class="form-group">
                        <label for="cube_name">Name</label>
                        <input type="text" class="form-control" name="cube_name" id="cube_name"
                            aria-describedby="name_help" placeholder="Enter name">
                        <small id="name_help" class="form-text text-muted">Enter a name to recognize the cube.</small>
                        
                    </div> -->
                    <button class="btn btn-success top-margin" type="submit">New Process Cube</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}